
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}


header {
  display: flex;
  background-color: #0060d2;
  flex-direction: column;
  align-items: start;
  padding: 7rem 10rem;
}
header nav {
  flex: auto;
  display: flex;
  justify-content: space-around;
}

header .barra-pesquisa {
  box-sizing: border-box;
  padding: 1.7rem 6rem 1.7rem 3.6rem;
  width: 100%;
  height: 9rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8.2rem;
}
header .barra-pesquisa .logo-hapvida {
  width: 17rem;
  height: 4.5rem;
  object-fit: cover;
}
header .barra-pesquisa .links-menu {
  font-size: 1.8rem;
  color: #393e46;
  font-family: Poppins, 'Source Sans Pro';
  background-color: transparent;
  border: hidden;
}
header .barra-pesquisa .botao-logout {
  width: 14rem;
  height: calc(100% - 0.2042rem);
  font-size: 1.8rem;
  font-weight: 600;
  color: #0060d2;
  font-family: Poppins, 'Source Sans Pro';
  border: solid 0.4rem #0060d2;
  box-sizing: border-box;
  border-radius: 1rem;
  background-color: transparent;
}
header .barra-pesquisa .icone-usuario {
  width: 5.0605rem;
  height: 5.4433rem;
}
header .conteudo-textual{
  margin: 6rem 0rem 6rem 15rem
}
header .titulo-header {
  width: 60%;
  font-size: 4.8rem;
  font-weight: 700;
  color: #ffffdd;
  font-family: Poppins, 'Source Sans Pro';
  margin-bottom: 5rem;
}
header .texto-header {
  width: 50%;
  font-size: 1.4rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  margin-bottom: 5rem;
}
header .botao-detalhes {
  width: 17.1rem;
  height: 4rem;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: Poppins, 'Source Sans Pro';
  border: solid 0.4rem #ffffff;
  box-sizing: border-box;
  border-radius: 1rem;
  background-color: transparent;
}
.elipse {
  width: 2.4rem;
  height: 2.4181rem;
  margin-right: 2rem;
  object-fit: contain;
  vertical-align: top;
  margin-bottom: 3rem;
}



.main-conteudo {
  background-color: #0060d2;
  display: flex;
  width: 100%;
}

.margem-main{
  margin: 10rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}


.main-conteudo .main-titulo {
  text-align: center;
  width: 100%;
}

.main-conteudo .alinhar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 5rem;
  width: 55%;
}

.main-conteudo .fileira1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.main-conteudo .recursos-alternativo {
  text-align: center;
  align-self: flex-end;
  width: 35%;
}

.main-conteudo .fileira1 .recursos {
  box-sizing: border-box;
  padding: 3.6rem 2.8rem 2.4rem 2.6rem;
  width: 20.5rem;
  min-width: 15rem;
  height: 23rem;
  text-align: center;
  box-shadow: -2.1rem 1.3rem 2.5rem rgba(0, 0, 0, 0.200000003);
  background-color: #ffffff;
  border-radius: 2.2rem;
  margin-bottom: 5rem;
}
.main-conteudo .fileira1 .recursos-alarme {
  box-sizing: border-box;
  padding: 3.6rem 2rem 3rem 2rem;
  width: 20.5rem;
  min-width: 15rem;
  height: 23rem;
  text-align: center;
  box-shadow: -2.1rem 1.3rem 2.5rem rgba(0, 0, 0, 0.200000003);
  background-color: #ffffff;
  border-radius: 2.2rem;
  margin-bottom: 5rem;
}

.main-conteudo .fileira1 .recursos .vetor-recursos {
  margin: 0rem 0.1rem 2.427rem 0rem;
  height: 4.5339rem;
}
.main-conteudo .fileira1 .recursos .texto-recursos {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.main-conteudo .fileira1 .recursos .texto-recursos .titulo1-recursos {
  margin-bottom: 1.0166rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #0060d2;
  font-family: Poppins, 'Source Sans Pro';
}
.main-conteudo .fileira1 .recursos .texto-recursos .titulo2-recursos {
  max-width: 16rem;
  text-align: center;
  font-size: 1.4rem;
  color: #0060d2;
  font-family: Poppins, 'Source Sans Pro';
}
.main-conteudo .fileira1 .vector-alarme-recursos {
  margin: 0rem 0.195rem 2.125rem 0rem;
  width: 5.1047rem;
  height: 4.5339rem;
}
.main-conteudo .fileira1 .texto-recursos-alarme {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.main-conteudo .fileira1 .texto-recursos-alarme .alarme-titulo1 {
  margin: 0rem 0rem 0.815rem 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #0060d2;
  font-family: Poppins, 'Source Sans Pro';
}
.main-conteudo .fileira1 .texto-recursos-alarme .alarme-titulo2 {
  max-width: 16.2rem;
  text-align: center;
  font-size: 1.4rem;
  color: #0060d2;
  font-family: Poppins, 'Source Sans Pro';

}
.main-conteudo .titulo2-recursos-contatos {
  max-width: 19.5rem;
  text-align: center;
  font-size: 1.4rem;
  color: #0060d2;
  font-family: Poppins, 'Source Sans Pro';
}



.main-conteudo .main-titulo .main-titulo1 {
  font-size: 2.6rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
 .main-conteudo .main-titulo .main-titulo2 {
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}

input::placeholder {
  color: white;
}
.main-conteudo .recursos-alternativo .imput-recursos-texto {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: transparent;
  font-family: Poppins, 'Source Sans Pro';
  text-align: center;
  color: #ffffff;
  
  width: 100%;
  height: 7rem;
  border: solid 0.5rem #ffffff;
  box-sizing: border-box;
  box-shadow: -2.1rem 1.3rem 2.5rem rgba(0, 0, 0, 0.200000003);
  border-radius: 7.4rem;
}

.main-conteudo .recursos-alternativo .titulo3-recursos {
  font-size: 1.4rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  margin-top: 2.5rem;
}


.main-conteudo .recursos-alternativo .vetor-medico-recursos {
  width: 3.9rem;
  position: absolute;
  margin-left: 3rem;
}

.main-conteudo .recursos-alternativo .form-input{
display: flex;
align-items: center;
}


.retangulos {
  background-color: #0060d2;
  display: flex;
  width: 100%;
}
.retangulos .retangulo-grupo-notredame .retangulos-texto1 {
  max-width: 68rem;
  text-align: center;
  font-size: 1.4rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.retangulos .retangulo-fiap .retangulos-texto2 {
  max-width: 28rem;
  text-align: center;
  font-size: 1.4rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}

.retangulos .retangulo-fiap {
  box-sizing: border-box;
  padding: 10rem 5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.5rem #ffffff;
  box-shadow: -2.1rem 1.3rem 2.5rem rgba(0, 0, 0, 0.200000003);
  border-radius: 4.4rem;
}
 .retangulos .retangulo-fiap .logo-fiap-retangulos {
  margin: 0rem 0rem 5rem 0rem;
  width: 18rem;
}

.retangulos .retangulo-grupo-notredame {
  box-sizing: border-box;
  padding: 7.5rem 5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.5rem #ffffff;
  box-shadow: -2.1rem 1.3rem 2.5rem rgba(0, 0, 0, 0.200000003);
  border-radius: 4.4rem;
}

.retangulos .retangulo-grupo-notredame .logo-hapvida-retangulos {
  width: 16rem;
  margin: 0rem 5rem 5rem 0rem;
}

.retangulos .retangulo-grupo-notredame .logo-notredame-retangulos {
  width: 30rem;
  margin: 0rem 0rem 5rem 0rem;
}




.emergencia-botao {
  box-sizing: border-box;
  padding: 1.6rem 2.5rem 1.6rem 4.3rem;
  position: fixed;
  left: 0;
  top: 55%;
  display: flex;
  align-items: center;
  box-shadow: -2.1rem 1.3rem 2.5rem rgba(0, 0, 0, 0.200000003);
  background-color: #ef2f2c;
  border-radius: 0 7.5rem 7.5rem 0;
}
 .emergencia-botao .ligar-para-emergncia-texto {
  margin-right: 1.5rem;
  justify-content: center;
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
  font-family: Poppins, 'Source Sans Pro';
}
 .emergencia-botao .vetor-botao-emergencia {
  width: 3rem;
}




.realizacao {
  display: flex;
  background-color: white;  
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.realizacao .realizacao-texto {
  font-size: 3rem;
  font-weight: 700;
  color: #0060d2;
  font-family: Poppins, 'Source Sans Pro';
}
.realizacao .grupo-notredame {
  width: 27rem;
}
.realizacao .logo-fiap-realizacao {
  width: 16.7rem;
  height: 4.4331rem;
}




footer {
  display: flex;
  background-color: #ffc53e;
  width: 100%;
}


footer .conteudo-footer {
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: space-between;
  margin: 5rem 8rem;
}

footer .grupo-footer{
  max-width: 17rem;
}

footer .titulo-footer {
  margin-bottom: 2.3rem;
  text-align: left;
  font-size: 1.7rem;
  font-weight: 600;
  color: #004ca7;
  font-family: Inter, 'Source Sans Pro';
}
footer .paragrafo-footer {
  row-gap: 1rem;
  display: flex;
  flex-direction: column;  
  text-align: left;
  font-size: 1.4rem;
  color: #004ca7;
  font-family: Inter, 'Source Sans Pro';
  margin-bottom: 4.5rem;
}


footer .conteudo-ilustrativo-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 3rem;
}

footer .conteudo-ilustrativo-footer .redes-sociais-grupo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
footer .conteudo-ilustrativo-footer .redes-sociais-grupo .logo-redes-sociais {
  width: 2.6667rem;
}
footer .conteudo-ilustrativo-footer .copyright {
  display: flex;
}
footer .conteudo-ilustrativo-footer .copyright .logo-copyright {
  margin-right: 0.35rem;
  height: 1.3rem;

}
footer .conteudo-ilustrativo-footer .copyright .copyright-text {
  font-size: 1.4rem;
  color: #004ca7;
  font-family: Inter, 'Source Sans Pro';
  margin-bottom: 1rem;
}
footer .logos-footer {
  width: 35rem;
}
footer .baixe-nosso-app {
  display: flex;
  flex-direction: column;
}
footer .baixe-nosso-app .app-playstore {
  width: 36.5rem;
}

.imagem-fundo{
  width: 900px;
  position: absolute;
  right: -300px;
  top: 300px;
}

.margem-retangulos{
  margin: 10rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
}


body.theme-dark .main-conteudo{
  background-color: #000000;
}
body.theme-dark .main-conteudo .fileira1 .recursos .texto-recursos .titulo1-recursos{
  color: white;
}
body.theme-dark .main-conteudo .fileira1 .recursos .texto-recursos .titulo2-recursos{
  color: white;
}
body.theme-dark .main-conteudo .fileira1 .texto-recursos-alarme .alarme-titulo1{
  color: white;
}
body.theme-dark .main-conteudo .fileira1 .texto-recursos-alarme .alarme-titulo2{
  color: white;
}
body.theme-dark .main-conteudo .titulo2-recursos-contatos {
  color: white;
}
body.theme-dark .main-conteudo .fileira1 .recursos{
  background-color: #393e45;
}
body.theme-dark .main-conteudo .fileira1 .recursos-alarme{
  background-color: #393e45;
}


body.theme-dark header{
  background-color: #000000;
}
body.theme-dark header .barra-pesquisa {
  background-color: #393e45 ;
}
body.theme-dark header .barra-pesquisa .links-menu {
  color: white;
}
body.theme-dark header .barra-pesquisa .botao-logout {
  color: white;
  border: solid 0.4rem white;
}

body.theme-dark .realizacao{
  background-color: #393e45;
}
body.theme-dark .realizacao .realizacao-texto{
  color: white;
}


body.theme-dark .retangulos{
  background-color: #000000;
}


body.theme-dark footer {
  background-color: #393e45;
}
body.theme-dark footer .conteudo-ilustrativo-footer .copyright .copyright-text {
  color: white;
}
body.theme-dark footer .titulo-footer{
  color: white;
}
body.theme-dark footer .paragrafo-footer{
  color: white;
}

.js-theme{
  display: none;
}
.button-theme{
  position: fixed;
  top: 47%;
  left: 2rem;
}

.js-theme + label {
  width: 60px;
  height: 30px;
  background-color: #393e45;
  display: block;
  position: relative;
  border-radius: 20px;
  padding: 2px;
  transition: 200ms;
  cursor: pointer;
}
.js-theme + label::before {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: white;
  display: block;
  border-radius: 50%;
  right: unset;
  left: 4px;
  top: 3px;
  transition: 200ms;
}
.js-theme:checked + label{
  background-color: lightgray;
}
.js-theme:checked + label::before{
  content: '';
  left: calc(100% - 32px);
  box-shadow: 0px 4px 4px rgb(0, 0, 0 / 10%);
}


@media screen and (max-width: 1400px) {
  .margem-main{
    flex-direction: column;
    align-items: center;
  }
  .main-conteudo .recursos-alternativo {
    width: 100%;
  }

  footer .grupo-footer {
    display: none;
  }
  footer .conteudo-footer{
    justify-content: center;
  
  }
  .margem-retangulos{
    flex-direction: column;
  }
  .retangulo-grupo-notredame {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 1350px) {
  .imagem-fundo{
    right: -400px;
  }
  .realizacao {
    flex-direction: column;
  }
  .realizacao .grupo-notredame {
    margin-top: 5rem;
  }
  .realizacao .logo-fiap-realizacao {
    margin: 5rem 0rem;
  }
  .realizacao .realizacao-texto-barra {
    margin-top: 5rem;
  }

}
@media screen and (max-width: 1200px) {
  .imagem-fundo{
    right: -500px;
  }

}
@media screen and (max-width: 1000px) {
  .imagem-fundo{
    right: -600px;
  }
  header .conteudo-textual {
    margin: 6rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

}

@media screen and (max-width: 965px) {
  .main-conteudo .fileira1 {
    justify-content: center;
  }
}


@media screen and (max-width: 840px) {
  .imagem-fundo{
    display: none;
  }
  .imagens-grupo-notredame-retangulos {
    display: contents;
  }
}



@media screen and (max-width: 625px) {
  .main-conteudo .recursos-alternativo .vetor-medico-recursos {
    display: none;
  }

}

